@page "/colour/create"
@inherits ColourBasePageClass

<PageTitle>Create Colour</PageTitle>

<h3>Create Colour</h3>

<EditForm Model="@ColourDisplayModel" OnValidSubmit="CreateColour">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Name" @bind-Value="@ColourDisplayModel.Name" AutoFocus OnlyValidateIfDirty="true" />
                </MudCardContent>
                 <MudCardActions>
                     <button type="submit" class="btn btn-primary">Submit</button>
                     &nbsp;
                     <a class="btn btn-primary" href="/colours/index">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
    
</EditForm>