@page "/colourjustification/view/{ColourJustificationId:int}"
@inherits ColourJustificationBasePageClass

<PageTitle>View Colour Justification</PageTitle>

@if (ColourJustificationModel == null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Colour Justification</MudAlert>
    return;
}

<h3>View Colour Justification</h3>

<MudGrid>
    <MudItem sm="7">
        <MudCard>
            <MudCardContent>
                <MudField Label="Id">@ColourJustificationModel.ColourJustificationId</MudField>
                <MudField Label="Justification">@ColourJustificationModel.Justification</MudField>
            </MudCardContent>
            <MudCardActions>
                <a href="/colourjustification/edit/@ColourJustificationModel.ColourJustificationId" class="btn btn-primary">Edit</a>
                &nbsp;
                <a href="/colourjustifications/index" class="btn btn-primary">Back to list</a>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>